.content{

line-height: 2;
	p{
	text-transform: uppercase;
	margin: 0;
  font-size: 14px;
	}

.september {
	display: block;
	margin-bottom: 36px;
	font-style: italic;
	font-weight: normal;
	color:#979594;
	font-size: 14px;
}

&__all{
	text-align: left;

	a{
		margin-top: 63px;
	}
}
}