.top {

  &__logo {
    text-align: center;
    padding-top: 58px;
  }

  &__promo {
    display: flex;
    justify-content: space-between;

    &-item {
      text-align: center;
      width: calc(33.3% - 30px);

      p {
        text-transform: uppercase;
        color: $white;
        line-height: 1.75;
      }
    }
  }
}